<% provide(:title, "Home") %>

<div class="col-md-8">
  <% if @shares.any? %>
    <h3>Shares (<%= @shares.count %>)</h3>
    <ol class="shares">
      <%= render @shares %>
    </ol>
    <%= will_paginate @shares %>
  <% end %>
</div>