<% provide(:title, "Share") %>
<h1>Share a Youtube movie</h1>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
    </aside>
    <aside class="col-md-4">
      <section class="share_form">
        <%= render 'shared/share_form' %>
      </section>
    </aside>
    <aside class="col-md-4">
    </aside>
  </div>
<% end %>
