@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-inverse {
  background-color: #fff!important;
  background-image: none;
  .navbar-nav > li {
    a {
      background: #cac4c4;
      margin: 0px 5px;
      padding: 10px 20px;
      border-color: #000;
      font-weight: bold;
      color: #000!important;
    }
    input {
      margin: 10px;
      width: auto;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: Comic Sans MS;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
}

/* forms */

input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input {
  height: auto !important;
}

/* shares */

.shares {
  .videoWrapper iframe {
    float: right;
    width: 60%;
  }
  padding: 0;
  .title {
    display: block;
    color: red;
    font-weight: bold;
  }
  .user {
    padding-top: 0;
  }
  .description {
    padding-top: 0;
    font-weight: bold;
    white-space: pre-wrap;
  }
}
